<!doctype html>
<html ng-app>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script>
        function Control($scope) {
            $scope.value1 = "TomDaBomb";
            $scope.value2 = "Boyyyyyy";
        }
    </script>
  </head>
  <body>
    <div ng-controller="Control">
        <input ng-model="value1"><br>
        {{value}}
    </div>
    <div ng-controller="Control">
        <input ng-model="value2"><br>
        {{value}}
    </div>
  </body>
</html>
